<!DOCTYPE html>
<html ng-app="testReal">
<head>
	<meta charset="UTF-8">
	<title>Test de tiempo Real</title>
	<link rel="stylesheet" href="public/libs/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/app/css/app.min.css">
</head>
<body>

	
	<div class="row" ng-controller="testController">
		<div class="col-md-12">
			<div class="col-md-6 side">
				<div class="row">
					<form ng-submit="functions.sendComunicate()">
						<div class="panel panel-primary">
							<div class="panel-heading"><h1>Registrar nuevo Comunicado</h1></div>
							<div class="panel-body">
								<div class="form">
									<div class="form-group">
										<input ng-model="comunication.title" type="text" class="form-control" placeholder="Titulo del Comunicado">
									</div>
									<div class="form-group">
										<label for="msg">Comunicado:</label>
										<textarea ng-model="comunication.comunicate" class="form-control" id="msg" cols="30" rows="5"></textarea>
									</div>
									<div class="form-group">
										<div class="col-md-6">
											<input ng-model="comunication.firstname" type="text" class="form-control" placeholder="Nombre del Remitente" required>
										</div>
										<div class="col-md-6">
											<input ng-model="comunication.lastname" type="text" class="form-control" placeholder="Apellido del Remitente" required>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-6">
										<button type="submit" class="btn btn-success btn-block">Enviar</button>
									</div>
									<div class="col-md-6">
										<button type="button" ng-click="functions.limpiar()" class="btn btn-info btn-block">Limpiar</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6 scroll-area">
				<div class="panel panel-primary">
					<div class="panel-heading"><h1>Lista de Mensajes</h1></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12" ng-repeat="data in comunications | orderBy: '-date'">
								<div class="thumbnail">
									<img src="public/app/img/avatar/{{data.avatar}}" alt="public/app/img/avatar/undefined.png">
									<div class="caption">
										<h4><span ng-bind="data.title"></span></h4>
										<p>Publicado por: <span ng-bind="data.firstname"></span> <span ng-bind="data.lastname"></span></p>
										<p>fecha publicación: <span ng-bind="data.date | date:'dd/MM/y'"></span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="public/libs/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="public/libs/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/libs/js/angular.min.js"></script>
<script type="text/javascript" src="public/libs/js/socket.io.min.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script> -->
<script type="text/javascript" src="public/app/js/app-angular.js"></script>
<script type="text/javascript" src="public/app/js/app-socket.js"></script>
<script type="text/javascript" src="public/app/js/factorys/Comunications.js"></script>
</body>
</html>